# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.vite/

# Backend
backend/__pycache__/
backend/*.pyc
backend/.env
backend/cache/
backend/venv/
backend/*.log

# General
.DS_Store
*.log
.env
.vscode/
.idea/